.container{
    width: 80%;
    margin: auto;
}

#character-selection{
    width: 850px;
    margin: auto;
}

#stats-box{
    float: left;
    width: 200px;
    padding: 60px 0;
}

#obi-wan{
    height: 200px;
    width: 200px;
}

#darth-maul{
    height: 200px;
    width: 200px;
}

#character-box{
    background-color: rgba(255, 255, 255, 1);
    height: 210px;
    width: 425px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 7px 42px -10px rgba(15, 15, 15, 0.75);
}

.char-image{
    float: left;
    margin: 5px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 7px 42px -10px rgba(15, 15, 15, 0.75);
    height: 200px;
    width: 200px;
}

html{
    background-color: rgba(139, 202, 194, 0.75)
}