.container{
    width: 90%;
    margin: auto;
    content: "";
    clear: both;
    display: table;
}

#character-selection{
    width: 850px;
    margin: auto;
}

#stats-box{
    float: left;
    width: 200px;
    padding: 60px 0;
}

#obi-wan{
    height: 200px;
    width: 200px;
}

#darth-maul{
    height: 200px;
    width: 200px;
}

#character-box{
    background-color: rgba(255, 255, 255, 1);
    height: 210px;
    width: 425px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 7px 42px -10px rgba(15, 15, 15, 0.75);
    float: left;
}

.char-image{
    float: left;
    margin: 5px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 7px 42px -10px rgba(15, 15, 15, 0.75);
    height: 200px;
    width: 200px;
}

html{
    background-color: rgba(139, 202, 194, 0.75)
}

#main-container{
    margin-top: 30px;
}

#message-box{
    margin:auto;
    padding-top: 30px;
    width: 200px;
    text-align: center;
}

#enemy-container{
    background-color: rgba(255, 255, 255, 1);
    height: 210px;
    width: 1000px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 7px 42px -10px rgba(15, 15, 15, 0.75);
    float: left;
    margin-left: 50px;
}

.enemy-target-box{
    float: left;
    margin-left: 10px;
    width: 202px;
    height: 202px
}

#enemy-box{
    width: 650px;
    height: 212px;
    margin: auto;
}

#character{
    float: left;
}

#enemy-stats-box{
    float: left;
    width: 200px;
    padding: 60px 0;
    margin: 20px;
}

.targeted{
    float: left;
    margin-left: 150px;
    width: 202px;
    height: 202px;
    border-radius: 3px;
    border-width: 1px;
    border-color: red;
}